/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
header .settings svg, .load-overlay img, .message .wrap, .scorecard .scorecard-nav button svg, .scorecard .scorecard-buttons .easy-btn-wrap button svg, .clocking::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.message .wrap .dismiss, .scorecard .scorecard-nav, .scorecard .scorecard-buttons {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

header .title, header .title .title-logo, .settingsWrap div .toggle, .settingsWrap div .toggle:after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

* {
  user-select: none;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

body {
  background: #041d35;
}

/*
==================================================================================

GENERAL

==================================================================================
*/
.bg {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 0;
  background: url("../images/textures/tactile_noise.png");
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 60px;
  background: #042463;
  position: fixed;
  z-index: 9999999999;
  box-shadow: 0px 0px 0px #111;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-right: 5px solid #021330;
  border-bottom: 5px solid #021330;
}
header .title {
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
header .title .title-logo {
  height: 40px;
}
header .title .title-name {
  font-family: "Ubuntu", "Raleway", "Days One", serif;
  color: white;
  font-size: min(30px, 8vw);
  margin: 0;
  position: relative;
  left: 60px;
  line-height: 60px;
}
header .settings {
  height: 55px;
  width: 55px;
  position: absolute;
  right: 0;
}
header .settings svg {
  color: white;
  height: 35px;
}

.load-overlay {
  height: 100%;
  width: 100%;
  background: #042463;
  z-index: 100000000000000030000000;
  position: fixed;
  top: 0;
  left: 0;
}
.load-overlay img {
  height: 100px;
}

.message {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999999999999;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.message .wrap {
  background: #1f1f1f;
  height: 50%;
  width: calc(100% - 60px);
  box-shadow: 0px 0px 10px #fdfdfd;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  color: whitesmoke;
}
.message .wrap h1 {
  text-align: center;
  font-family: "Ubuntu";
  margin: 10px;
}
.message .wrap p {
  font-family: "Noto Sans";
  text-align: center;
}
.message .wrap .dismiss {
  border: none;
  border-radius: 5px;
  border-right: 3px solid #155600;
  border-bottom: 3px solid #155600;
  background: #077500;
  width: calc(100% - 30px);
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px;
  font-family: "Ubuntu";
  transition: 0.05s;
  color: white;
  bottom: 5px;
  outline: none;
}
.message .wrap .dismiss:active {
  border-right: 0px solid #155600;
  border-bottom: 0px solid #155600;
  margin-top: 28px;
  margin-left: calc(auto+3px);
}

.settingsWrap {
  position: fixed;
  background: #041d35;
  height: calc(100% - 60px);
  width: 100%;
  z-index: 999999999;
  left: 20vw;
  top: 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.settingsWrap div {
  position: relative;
  background: #272828;
  border-right: 5px solid #191919;
  border-bottom: 5px solid #191919;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.settingsWrap div select {
  border-radius: 5px;
  outline: none;
  background: inherit;
  color: white;
  padding: 7px;
  margin-top: 15px;
  display: none;
}
.settingsWrap div p {
  text-align: left;
  position: relative;
  left: 20px;
  color: whitesmoke;
  font-family: "Raleway", "Noto Sans";
  width: calc(100% - 120px);
  height: 100%;
}
.settingsWrap div p span {
  color: #999;
  font-size: 11px;
}
.settingsWrap div .toggle {
  border-radius: 50px;
  right: 20px;
  height: 30px;
  width: 60px;
  background: #e2e2e2;
  border: none;
}
.settingsWrap div .toggle:after {
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 100%;
  transition: 0.15s;
}

/*
==================================================================================

SCORECARD

==================================================================================
*/
.scorecard {
  height: calc(100% - 100px);
  position: absolute;
  display: flex;
  z-index: 10;
  top: 100px;
  left: 200vw;
  width: 100vw;
}
.scorecard .scorecard-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #292929;
  border-right: 5px solid #191919;
  border-bottom: 5px solid #191919;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px;
}
.scorecard .scorecard-nav button {
  width: 40px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  font-family: "Raleway";
  height: 40px;
  transition: 0.05s;
}
.scorecard .scorecard-nav button:active svg {
  border-right: 1px solid #074765;
  border-bottom: 1px solid #074765;
  left: 3px;
  top: 3px;
}
.scorecard .scorecard-nav button svg {
  height: 30px;
  width: 30px;
  color: #007e9a;
  border-right: 3px solid #074765;
  border-bottom: 3px solid #074765;
  border-radius: 5px;
  padding: 0;
  transition: 0.05s;
}
.scorecard .scorecard-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #292929;
  border-right: 5px solid #191919;
  border-bottom: 5px solid #191919;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px;
  flex-direction: column;
}
.scorecard .scorecard-buttons .easy-nav {
  margin-bottom: 20px;
}
.scorecard .scorecard-buttons .easy-btn-wrap {
  display: flex;
  justify-content: space-evenly;
}
.scorecard .scorecard-buttons .easy-btn-wrap .easy-empty {
  opacity: 0;
}
.scorecard .scorecard-buttons .easy-btn-wrap button {
  width: 40px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  font-family: "Raleway";
  height: 40px;
  transition: 0.05s;
}
.scorecard .scorecard-buttons .easy-btn-wrap button:active svg {
  border-right: 1px solid #074765;
  border-bottom: 1px solid #074765;
  left: 3px;
  top: 3px;
}
.scorecard .scorecard-buttons .easy-btn-wrap button svg {
  height: 30px;
  width: 30px;
  color: #077500;
  border-right: 3px solid #155600;
  border-bottom: 3px solid #155600;
  border-radius: 5px;
  padding: 0;
  transition: 0.05s;
}
.scorecard .name {
  width: 100%;
  position: absolute;
  top: -30px;
  text-align: center;
  color: white;
  font-family: "Raleway", "Noto Sans";
}
.scorecard .scorecard-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.scorecard .scorecard-wrap .databody {
  width: 75vw;
  background: #313131;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  overflow-x: scroll;
  border-radius: 10px;
  border-right: 5px solid #191919;
  border-bottom: 5px solid #191919;
}
.scorecard .scorecard-wrap .databody .data-col {
  position: absolute;
}
.scorecard .scorecard-wrap .databody .data-col div {
  height: 5vh;
  box-sizing: border-box;
  width: 25vw;
  position: relative;
  text-align: center;
  line-height: 5vh;
  font-family: "Noto Sans";
}
.scorecard .scorecard-wrap .databody .data-col div input {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  outline: none;
  padding: none;
  border: none;
  background: transparent;
  color: #00ffdc;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 20px;
}
.scorecard .scorecard-wrap .databody :not(.no-seperator-col) div {
  border-right: 2px solid #272727;
}
.scorecard .scorecard-wrap .databody .special-col {
  background: #242424;
}
.scorecard .scorecard-wrap .databody .disabled {
  background: #282828;
}
.scorecard .scorecard-wrap .headers {
  width: 20vw;
  background: #292929;
  position: absolute;
  top: 0;
  color: #cfcfcf;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-right: 5px solid #191919;
  border-bottom: 5px solid #191919;
}
.scorecard .scorecard-wrap .headers .tee-head {
  position: relative;
}
.scorecard .scorecard-wrap .headers div {
  box-sizing: border-box;
  height: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Ubuntu";
}
.scorecard .scorecard-wrap .headers div input {
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  font-size: 15px;
  font-family: "Ubuntu";
  background: #313131;
  color: white;
}

/*
==================================================================================

STARTUP SCREEN

==================================================================================
*/
.course-select {
  width: 100%;
  position: relative;
  z-index: 10;
  margin-top: 85px;
  padding-bottom: 30px;
  transition: 0.2s;
  left: 0;
}
.course-select .card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
.course-select .card-wrap .card-wrap-title {
  color: white;
  font-family: "Ubuntu";
  margin-top: 0;
  margin-bottom: 30px;
  background: #1b1b1b;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  width: 40vh;
  text-align: center;
  border-right: 3px solid #ef0000;
  border-bottom: 3px solid #ef0000;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px black;
  position: relative;
  left: 0;
  right: 0;
}
.course-select .card-wrap .card {
  width: 80vw;
  max-width: 50vh;
  background: #272828;
  border-right: 5px solid #191919;
  border-bottom: 5px solid #191919;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 10px;
  color: #cfcfcf;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  transition: 0.2s;
}
.course-select .card-wrap .card .emp {
  color: white;
  font-size: 14px;
}
.course-select .card-wrap .card .card-info {
  position: relative;
  left: 10px;
  margin-top: 10px;
  font-family: "Noto Sans";
  font-size: 12px;
}
.course-select .card-wrap .card .card-desc {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  left: 10px;
  width: calc(100% - 20px);
  font-family: "Noto Sans";
  font-size: 12px;
  overflow-wrap: break-word;
}
.course-select .card-wrap .card .load-desc {
  border-radius: 5px;
  border-right: 3px solid #074765;
  border-bottom: 3px solid #074765;
  background: #007e9a;
  width: calc(100% - 30px);
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px;
  font-family: "Ubuntu";
  transition: 0.3s;
  position: relative;
}
.course-select .card-wrap .card .load-desc:active {
  border-right: 0px solid #074765;
  border-bottom: 0px solid #074765;
  margin-top: 18px;
  margin-left: calc(auto+3px);
}
.course-select .card-wrap .card .select-course {
  border-radius: 5px;
  border-right: 3px solid #155600;
  border-bottom: 3px solid #155600;
  background: #077500;
  width: calc(100% - 30px);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px;
  font-family: "Ubuntu";
  transition: 0.05s;
  position: relative;
}
.course-select .card-wrap .card .select-course:active {
  border-right: 0px solid #155600;
  border-bottom: 0px solid #155600;
  margin-top: 13px;
  margin-left: calc(auto+3px);
}

/*
==================================================================================

ANIMATION CLASSES

==================================================================================
*/
.no-info .card-img {
  height: 20vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  border-right: 0px solid #ef0000;
  border-bottom: 0px solid #ef0000;
  box-sizing: border-box;
  transition: 0.3s;
}
.no-info .card-title {
  position: relative;
  text-align: center;
  width: 100%;
  font-family: "Raleway";
  font-weight: 700;
  transition: 0.3s;
  left: 0;
  font-size: 30px;
  margin-top: 10px;
}
.no-info .card-info, .no-info .card-desc {
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.3s;
}

.has-info .card-img {
  height: 15vh;
  border-radius: 10px;
}
.has-info .card-info, .has-info .card-desc {
  opacity: 1;
}

.clocking {
  color: transparent;
}
.clocking::after {
  content: "";
  border-radius: 100%;
  border: 5px solid transparent;
  border-top: 5px solid white;
  animation: 0.5s rotate linear infinite;
  height: 10px;
  width: 10px;
  left: 0;
  top: 0;
}

.toggle-enabled:after {
  background: #008422;
  left: 32px;
}

.toggle-disabled:after {
  background: #ca0000;
  left: 4px;
}

.select-moveout {
  left: -20vw;
  opacity: 0.2;
}

.settings-movein {
  left: 0vw;
  visibility: visible;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slideout {
  from {
    left: 0;
  }
  to {
    left: -200vw;
  }
}
@keyframes slidein {
  from {
    left: 200vw;
  }
  to {
    left: 0;
  }
}
@keyframes invalid {
  0% {
    background: transparent;
  }
  20% {
    background: red;
  }
  100% {
    background: transparent;
  }
}