/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/

%center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
%center-x {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
%center-y {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

@function text($bg) {
    @if(lightness($bg) > 50) {
        @return black;
    } @else {
        @return white;
    }
}

$cell-height: 5vh;
$cell-width: 26vw;

// $black-tee: #333;
// $red-tee: #dc4747;
// $blue-tee: #4040d6;
// $white-tee: #ccc;


// $black-tee-muted: #242424;
// $red-tee-muted: #9a3232;
// $blue-tee-muted: #2d2d96;
// $white-tee-muted: #8f8f8f;