@use "ext";

* {
    user-select: none;
}
html, body {
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

body {
    background: #041d35;
}

/*
==================================================================================

GENERAL

==================================================================================
*/

.bg {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 0;
    background: url("../images/textures/tactile_noise.png");
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60px;
    background: #042463;
    position: fixed;
    z-index: 9999999999;
    box-shadow: 0px 0px 0px #111;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 5px solid #021330;
    border-bottom: 5px solid #021330;
    .title {
        height: inherit;
        @extend %center-y;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        .title-logo {
            height: 40px;
            @extend %center-y;
        }
        .title-name {
            font-family: "Ubuntu", "Raleway", "Days One", serif;
            color: white;
            font-size: min(30px, 8vw);
            margin: 0;
            position: relative;
            left: 60px;
            line-height: 60px;
        }
    }
    .settings {
        height: 55px;
        width: 55px;
        position: absolute;
        right: 0;
        // background: orange;
        svg {
            color: white;
            height: 35px;
            @extend %center;
        }
    }
}

.load-overlay {
    height: 100%;
    width: 100%;
    background: #042463;
    z-index: 99999999999999999999999;
    position: fixed;
    top: 0;
    left: 0;
    // transition: 0.2s;
    img {
        @extend %center;
        height: 100px;
    }
}

.message {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999999999999;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    // overflow: hidden;
    .wrap {
        @extend %center;
        background: #1f1f1f;
        height: 50%;
        width: calc(100% - 60px);
        box-shadow: 0px 0px 10px #fdfdfd;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        color: whitesmoke;
        h1 {
            text-align: center;
            font-family: "Ubuntu";
            margin: 10px;
        }
        p {
            font-family: "Noto Sans";
            text-align: center;
        }
        .dismiss {
            border: none;
            border-radius: 5px;
            border-right: 3px solid #155600;
            border-bottom: 3px solid #155600;
            background: #077500;
            width: calc(100% - 30px);
            margin: auto;
            margin-top: 25px;
            margin-bottom: 15px;
            text-align: center;
            padding: 5px;
            font-family: "Ubuntu";
            transition: 0.05s;
            color: white;
            @extend %center-x;
            bottom: 5px;
            outline: none;
            &:active {
                border-right: 0px solid #155600;
                border-bottom: 0px solid #155600;
                margin-top: 28px;
                margin-left: calc(auto+3px);
            }
        }
    }
}

.settingsWrap {
    position: fixed;
    background: #041d35;
    height: calc(100% - 60px);
    width: 100%;
    z-index: 999999999;
    left: 20vw;
    top: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    div {
        position: relative;
        // background: green;
        background: #272828;
        border-right: 5px solid #191919;
        border-bottom: 5px solid #191919;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        select {
            border-radius: 5px;
            outline: none;
            background: inherit;
            color: white;
            padding: 7px;
            margin-top: 15px;
            display: none;
        }
        p {
            text-align: left;
            position: relative;
            // padding-top: 13px;
            // padding-bottom: 13px;
            left: 20px;
            color: whitesmoke;
            font-family: "Raleway","Noto Sans";
            width: calc(100% - 120px);
            height: 100%;
            span {
                color: #999;
                font-size: 11px;
            }
        }
        .toggle {
            border-radius: 50px;
            @extend %center-y;
            right: 20px;
            height: 30px;
            width: 60px;
            background: #e2e2e2;
            border: none;
            &:after {
                content: "";
                height: 24px;
                width: 24px;
                border-radius: 100%;
                @extend %center-y;
                transition: 0.15s;
            }
        }
    }
}

/*
==================================================================================

SCORECARD

==================================================================================
*/

.scorecard {
    height: calc(100% - 100px);
    position: absolute;
    display: flex;
    z-index: 10;
    top: 100px;
    // background: orange;
    left: 200vw;
    // left: 0;
    width: 100vw;
    // overflow: hidden;
    .scorecard-nav {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background: #292929;
        border-right: 5px solid #191919;
        border-bottom: 5px solid #191919;
        box-sizing: border-box;
        border-radius: 10px;
        @extend %center-x;
        // box-shadow: 3px 3px 5px black;
        padding: 5px;
        button {
            width: 40px;
            position: relative;
            background: none;
            border: none;
            outline: none;
            font-family: "Raleway";
            height: 40px;
            transition: 0.05s;
            &:active svg {
                // margin-top: 3px;
                // margin-left: 3px;
                border-right: 1px solid #074765;
                border-bottom: 1px solid #074765;
                left: 3px;
                top: 3px;
            }
            svg {
                height: 30px;
                width: 30px;
                @extend %center;
                color:  #007e9a;
                border-right: 3px solid #074765;
                border-bottom: 3px solid #074765;
                border-radius: 5px;
                padding: 0;
                transition: 0.05s;
                // background: white;
            }
        }
    }

    .scorecard-buttons {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background: #292929;
        border-right: 5px solid #191919;
        border-bottom: 5px solid #191919;
        box-sizing: border-box;
        border-radius: 10px;
        @extend %center-x;
        // box-shadow: 3px 3px 5px black;
        padding: 5px;
        flex-direction: column;
        // top: 480px;
        .easy-nav {
            margin-bottom: 20px;
        }
        .easy-btn-wrap {
            display: flex;
            justify-content: space-evenly;
            .easy-empty {
                opacity: 0;
            }
            button {
                width: 40px;
                position: relative;
                background: none;
                border: none;
                outline: none;
                font-family: "Raleway";
                height: 40px;
                transition: 0.05s;
                &:active svg {
                    // margin-top: 3px;
                    // margin-left: 3px;
                    border-right: 1px solid #074765;
                    border-bottom: 1px solid #074765;
                    left: 3px;
                    top: 3px;
                }
                svg {
                    height: 30px;
                    width: 30px;
                    @extend %center;
                    color:  #077500;
                    border-right: 3px solid #155600;
                    border-bottom: 3px solid #155600;
                    border-radius: 5px;
                    padding: 0;
                    transition: 0.05s;
                    // background: white;
                }
            }
        }
    }
    .name {
        width: 100%;
        position: absolute;
        top: -30px;
        text-align: center;
        color: white;
        font-family: "Raleway","Noto Sans";
    }
    .scorecard-wrap {
        // background: purple;
        width: 100%;
        position: relative;
        overflow: hidden;
        .databody {
            width: 75vw;
            background: #313131;
            color: white;
            position: absolute;
            right: 0;
            top: 0;
            overflow-x: scroll;
            // height: calc(5vh * 11);
            border-radius: 10px;
            border-right: 5px solid #191919;
            border-bottom: 5px solid #191919;
            .data-col {
                position: absolute;                
                div {
                    height: ext.$cell-height;
                    box-sizing: border-box;
                    width: ext.$cell-width;
                    position: relative;
                    text-align: center;
                    line-height: ext.$cell-height;
                    font-family: "Noto Sans";
                    input {
                        height: 100%;
                        width: 100%;
                        position: relative;
                        box-sizing: border-box;
                        outline: none;
                        padding: none;
                        // background: orange;
                        // border: 2px solid white;
                        border: none;
                        background: transparent;
                        color: #00ffdc;
                        text-align: center;
                        font-family: "Noto Sans";
                        font-size: 20px;
                    }
                }
            }
            :not(.no-seperator-col) div {
                border-right: 2px solid #272727;
            }
            .special-col {
                background: #242424;
            }
            .disabled {
                background: #282828;
            }
        }
        .headers {
            width: 20vw;
            // background: purple;
            background:#292929;
            position: absolute;
            top: 0;
            color: rgb(207,207,207);
            border-radius: 10px;
            border-top-left-radius: 0px;
            border-right: 5px solid #191919;
            border-bottom: 5px solid #191919;
            .tee-head {
                // height: ext.$cell-height*4;
                position: relative;
            }
            div {
                box-sizing: border-box;
                // background: green;
                height: ext.$cell-height;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                font-family: "Ubuntu";
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    box-sizing: border-box;
                    outline: none;
                    text-align: center;
                    font-size: 15px;
                    font-family: "Ubuntu";
                    background:#313131;
                    color: white;
                    // animation: 0.5s invalid infinite;
                }
            }
        }
    }
}

/*
==================================================================================

STARTUP SCREEN

==================================================================================
*/

.course-select {
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 85px;
    padding-bottom: 30px;
    transition: 0.2s;
    left: 0;
    .card-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        .card-wrap-title {
            color: white;
            font-family: "Ubuntu";
            margin-top: 0;
            margin-bottom: 30px;
            background: rgb(27, 27, 27);
            border-radius: 5px;
            height: 50px;
            line-height: 50px;
            width: 40vh;
            text-align: center;
            border-right: 3px solid #ef0000;
            border-bottom: 3px solid #ef0000;
            box-sizing: border-box;
            box-shadow: 3px 3px 5px black;
            position: relative;
            left: 0;
            right: 0;
        }
        .card {
            width: 80vw;
            max-width: 50vh;
            background: #272828;
            border-right: 5px solid #191919;
            border-bottom: 5px solid #191919;
            box-sizing: border-box;
            margin-top: 5px;
            margin-bottom: 5px;
            position: relative;
            border-radius: 10px;
            color: rgb(207, 207, 207);
            left: 0;
            right: 0;
            padding-bottom: 5px;
            transition: 0.2s;
            // box-shadow: 3px 3px 5px black;
            .emp {
                color: white;
                font-size: 14px;
            }
            .card-info {
                position: relative;
                left: 10px;
                // top: 50px;
                margin-top: 10px;
                font-family: "Noto Sans";
                font-size: 12px;
            }
            .card-desc {
                position: relative;
                margin-top: 10px;
                margin-bottom: 5px;
                left: 10px;
                width: calc(100% - 20px);
                font-family: "Noto Sans";
                font-size: 12px;
                overflow-wrap: break-word
            }
            .load-desc {
                border-radius: 5px;
                border-right: 3px solid #074765;
                border-bottom: 3px solid #074765;
                background: #007e9a;
                width: calc(100% - 30px);
                margin: auto;
                margin-top: 15px;
                margin-bottom: 5px;
                text-align: center;
                padding: 5px;
                font-family: "Ubuntu";
                transition: 0.3s;
                position: relative;
                // color: #ffffff;
                &:active {
                    border-right: 0px solid #074765;
                    border-bottom: 0px solid #074765;
                    margin-top: 18px;
                    margin-left: calc(auto+3px);
                }
            }
            .select-course {
                border-radius: 5px;
                border-right: 3px solid #155600;
                border-bottom: 3px solid #155600;
                background: #077500;
                width: calc(100% - 30px);
                margin: auto;
                margin-top: 10px;
                margin-bottom: 5px;
                text-align: center;
                padding: 5px;
                font-family: "Ubuntu";
                transition: 0.05s;
                position: relative;
                // color: #ffffff;
                &:active {
                    border-right: 0px solid #155600;
                    border-bottom: 0px solid #155600;
                    margin-top: 13px;
                    margin-left: calc(auto+3px);
                }
            }
        }
    }
}

/*
==================================================================================

ANIMATION CLASSES

==================================================================================
*/

.no-info {
    .card-img {
        height: 20vh;
        width: 100%;
        background-position: center center;
        background-size: cover;
        border-radius: 5px;
        border-right: 0px solid #ef0000;
        border-bottom: 0px solid #ef0000;
        box-sizing: border-box;
        transition: 0.3s;
    }
    .card-title {
        position: relative;
        text-align: center;
        width: 100%;
        // top: 6vh;
        // top: 150px;
        font-family: "Raleway";
        font-weight: 700;
        transition: 0.3s;
        left: 0;
        font-size: 30px;
        margin-top: 10px;
        // background: rgba(0,0,0,0.3);
    }
    .card-info, .card-desc {
        opacity: 0;
        transition: 0.2s;
        transition-delay: 0.3s;
    }
}
.has-info {
    .card-img {
        height: 15vh;
        // width: 15vh;
        border-radius: 10px;
        // border-right: 4px solid #191919;
        // border-bottom: 4px solid #191919;
    }
    // .card-title {
    //     width: calc(100% - 15vh);
    //     left: 15vh;
    //     top: 10px;
    //     position: absolute;
    //     font-size: 16px;
    //     background: rgba(0,0,0,0);
    // }
    .card-info, .card-desc {
        opacity: 1;
    }
}

.clocking {
    color: transparent;
    &::after {
        content: "";
        @extend %center;
        border-radius: 100%;
        border: 5px solid transparent;
        border-top: 5px solid white;
        animation: 0.5s rotate linear infinite;
        height: 10px;
        width: 10px;
        left: 0;
        top: 0;
    }
}

.toggle-enabled {
    &:after {
        background:#008422;
        left: 32px;
    }
}

.toggle-disabled {
    &:after {
        background: #ca0000;
        left: 4px;
    }
}

.select-moveout {
    left: -20vw;
    opacity: 0.2;
}

.settings-movein {
    left: 0vw;
    visibility: visible;
    opacity: 1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideout {
    from {
        left: 0;
    }
    to {
        left: -200vw;
    }
}

@keyframes slidein {
    from {
        left: 200vw;
    }
    to {
        left: 0;
    }
}

@keyframes invalid {
    0% {
        background: transparent;
    }
    20% {
        background: red;
    }
    100% {
        background: transparent;
    }
}